<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script>
        $(document).ready(function(){
            $("#demo").click(function() {
                $.get("/data", function (data) {
                    var d = data;
                    $("table").append("<thead><tr><th>Country</th><th>Population</th></tr></thead>");
                    for (i = 0; i <= d.length; i++) {
                    var item = d[i];
                    $("table").append("<tbody><tr><td>" + item.C_name + "</td><td>" + item.C_population + "</td></tr></tbody>");
                    ;}}
                , "json");

            });
        });

    </script>

</head>
<body>
<div class="container">
    <button type="button" id = "demo" class="btn btn-lg btn-primary btn-block">Click</button>

    <table class = "table">

    </table>
</div>

</body>
</html>
